<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="ObjectListView.Official" version="2.9.2-alpha2" targetFramework="net47" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net47" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net47" />
  <package id="Windows-Forms-Aero" version="3.0.1" targetFramework="net47" />
</packages>